html {
    background: url(https://localhost/storage/home-hero.jpg) 0% 0% no-repeat;
    height: 100vh;
    background-color: rgba(0,0,0,0.68);
    background-blend-mode: multiply;
}
body{
  font-family: sans-serif;
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 200;
}
input{
  margin: 20px auto;
  padding: 8px 10px;
  border: none;
  outline: none;
}

button{
  padding: 8px 20px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  cursor: pointer;
}

.addQuestions, h1{
  margin: 40px auto;
  text-align: center;
  color: #fff;
}

.info{
  text-align: center;
}

.info li{
  list-style-type: none;
  color: #fff;
}

.info button{
  margin: 30px 0;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.questionsWrapper div{
  display: none;
  position: absolute;
}

.questionsWrapper div.is-active{
  display: block;
}

.questionDiv{
  margin: 20px auto;
  text-align: center;
  width: 100%;
}

.questionDiv li{
  list-style-type: none;
  color: #fff;
  padding: 12px 0;
}

.questionDiv li.correct, .questionDiv li.wrong{
  cursor: pointer;
}

.answersCorrect{
  color: #fff;
  text-align: center;
}

.nextButton{
  margin: 20px auto;
}

#questionInput {
  border:2px solid white;
}
#correctInput, button {
  border:2px solid #2ecc71;
}
#wrongOneInput, #wrongTwoInput {
  border: 2px solid red;
}