canvas#draw, canvas#drawText {
  position: absolute;
}
#submitText {
    color: #333;
    margin: 5px;
    width: 60px;
    background: #dcdcdc;
    border: none;
    padding: 5px;
}
#submitShape{
    color: #333;
    margin: 5px;
    width: 60px;
    background: #dcdcdc;
    border: none;
    padding: 5px;
}
#theText {
  border:none;
  outline:none;
  resize:none;
  word-wrap: break-word;
  height: 30px;
}
#thumbnail-pdf {
  width:auto;
  height:100px;
  text-align: center;
  display: flex;
}
.page-active {
  border:1px solid blue;
}
#toolkit button {
	background: #fff;
	color:#333;
    border: none;
    box-shadow: none;
    padding: 0px 2px;
    width: 18px;
    font-size: 11px;
}
canvas.grid {
	min-width: 1200px;
	min-height:800px;
	width:100%;
	height: auto;
	position: absolute;
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
    background-image: linear-gradient(rgba(0,0,0,.3) 1px, transparent 1px), linear-gradient(90deg, rgba(0,0,0,.3) 1px, transparent 1px), linear-gradient(rgba(0,0,0,.1) 1px, transparent 1px), linear-gradient(90deg, rgba(0,0,0,.1) 1px, transparent 1px);
}
#button-set {
	height: 20px;
}
#button-set > * {
	vertical-align: middle;
}
#grid-check, #gridOn{
	margin-left: 5px;
	vertical-align: middle;
}
#imgNav {
    height: auto;
    width: 50%;
    min-width: 250px;
    max-width: 400px;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body, html {
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: #626262;
  font-family: Helvetica;
}

.brushPanel, .imgNav, .sprayPanel, .textPanel, .shapePanel {
  height: 180px;
  width: 266.6px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  background: #535353;
  top: 15px;
  right: 15px;
  position: absolute;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 999;
}

.brushPanel, .sprayPanel, .textPanel {
  left: 15px;
  right: auto;
  height: 100px;
  width: 266.6px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.shapePanel {
  left: 15px;
  right: auto;
  width: 70px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#canvasImg {
  max-width: 250px;
  max-height: 150px;
  height: auto;
  width: auto;  
  display: block;
  border-radius: 5px;
}

#canvasImg {
  z-index: 200;
}

#canvasBgImg {
    background: #fff;
    background: url(../watermark/logo.png) 50%;
    opacity: 0.1;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: -1;
    max-height: 260px;
    -webkit-transform: translatex(-50%) translatey(-50%);
    transform: translatex(-50%) translatey(-50%);
}
#draw {
  cursor: crosshair !important;
  z-index: 200;
}
#drawText{
  cursor: move !important;
  z-index: 201;
  display: none;
}
#canvasBg {
  top: 50%;
  left: 50%;
  -webkit-transform: translatex(-50%) translatey(-50%);
          transform: translatex(-50%) translatey(-50%);
  position: absolute;
  z-index: -1;
}
.toolbar {
  position: absolute;
  left: 200px;
  top: 200px;
  height: auto;
  width: 50px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  background: #535353;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 999;
}

.imgNavTitle, .toolbar, .toolTitle {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.imgNavTitle, .toolTitle {
  background: #434343;
  height: 20px;
  width: 100%;
  border-radius: inherit;
  color: #dcdcdc;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding-left: 5px;
  font-size: 10px;
}
/*.toolTitle {
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
  width: 52px;
}
*/
.imgNavTitle, .panelTitle, .sprayPaneTitle,.textPanelTitle {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);

}
.textPanel {
	height: auto !important;
  top: 20px;
  left: 300px;
}
.textPanelTitle {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width:100%;
}
.panelTitle, .sprayPaneTitle {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  width: calc(100% + 100px);
  z-index: 500;
  margin-left: 100px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 20px;
}

.sprayPaneTitle {
  width: 100%;
  margin-left: 0;
}

.tool {
  height: 45px;
  width: 50px;
  border: 1px solid transparent;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
  background: #535353;
  color: #dcdcdc;
  border-radius: 5px;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  position: relative;
}

.tool:hover {
  border-radius: 5px !important;
  background-color: #383838;
  border-color: #636363;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.tool:after {
  content: attr(data-tool-tip);
  width: 10px;
  min-height: 20px;
  background: #383838;
  top: 0;
  left: 100%;
  margin-left: 10px;
  padding: 5px;
  position: absolute;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  -webkit-transform: translateY(25%) translateX(-210%);
          transform: translateY(25%) translateX(-210%);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  opacity: 0;
  z-index: -1;
  border-radius: 5px;
}

.tool:hover:after {
  margin-left: 5px;
  opacity: 1;
  min-width: 150px;
  -webkit-transform: translateY(25%) translateX(0);
          transform: translateY(25%) translateX(0);
  -webkit-transition: width 1.5s linear 0s, opacity .5s linear 1.5s, -webkit-transform 0s linear 1.5s;
  transition: width 1.5s linear 0s, opacity .5s linear 1.5s, -webkit-transform 0s linear 1.5s;
  transition: transform 0s linear 1.5s, width 1.5s linear 0s, opacity .5s linear 1.5s;
  transition: transform 0s linear 1.5s, width 1.5s linear 0s, opacity .5s linear 1.5s, -webkit-transform 0s linear 1.5s;
}

#download, .bg, .brush, .text, .clear, .eraser, .nav, .rainbow, .save, .spray, .shape {
  background-image: url(../svg/paintBrush.svg);
  background-position: 50%;
  background-repeat: no-repeat;
}
.shape {
  background-image: url(../svg/shape.svg);
}
.eraser {
  background-image: url(../svg/eraser.svg);
}

.bg {
  background-image: url(../svg/paintBucket.svg);
}
.text {
  background-image: url(../svg/text.svg);
}
.clear {
  background-image: url(../svg/clear.svg);
}
.save {
  background-image: url(../svg/save.svg);
}

.rainbow {
  background-image: url(../svg/rainbow.svg);
}

.nav {
  background-image: url(../svg/nav.svg);
}

.spray {
  background-image: url(../svg/spraycan.svg);
}

#download {
  background-image: url(../svg/download.svg);
}
.rectangle {
  background-image: url(../svg/rect.svg);
}
.poly {
  background-image: url(../svg/poly.svg);
}
.ellipse {
  background-image: url(../svg/ellipse.svg);
}
.circle {
  background-image: url(../svg/circle.svg);
}
.rectangle, .poly, .ellipse, .circle {
  background-repeat: no-repeat;
  background-position: 50%;
  float: left;

}
a#download, a#download:active, a#download:hover, a#download:visited {
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  color: #dcdcdc;
  text-decoration: none;
}

button,span,label,input {
  color: #dcdcdc;
  font-size: 11px;
  font-weight: 700;
}

.sizeLabel {
  margin-top: 5px;
}

input[type=color] {
  -webkit-appearance: none;
  background: transparent;
  border-radius: 5px;
  outline: none;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 2px 1px;
  height: 26px;
  width: 26px;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
  border: 2px solid #383838;
}

input[type=range] {
  width: 200px;
}

.brushSizePreview {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e53935;
  display: block;
}

.brushSizePreviewCont {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  background: inherit;
  width: 100px;
  height: 100%;
  bottom: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding-top: 10px;
}

.active {
  background-color: #383838;
  border-color: #636363;
}

.hide {
  display: none;
}

.cross {
  cursor: pointer;
  background: none;
}

.drag {
  cursor: move;
}

.preview {
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  z-index: 999;
  border-radius: 10px;
  cursor: crosshair;
}
